h1 {
    color: #51c5b6;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {
    font-family: "Savate", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-indent: 1em;
  }

li {
    font-style: italic;
    
}

a {
    text-decoration: none;
}

h2 {
    text-align: justify;
}