body {
    display: flex;
    flex-direction: column;
    width: 30rem;
    min-height: 100vh;
}

header {
    height: 2.5rem;
    border: 1px solid black;
}

nav {
    height: 2.5rem;
    margin: ;
}