.container {
    display: grid;
    grid-template-columns: 100px 300px 200px;
    grid-template-rows: 100px 200px;
    grid
}

.item {
    font-size: 50px;
    text-align: center;
}

.item1 {
    background-color: rgb(200, 200, 200);
}
.item2 {
    background-color: rgba(126, 121, 121, 0.562);
}

.item3 {
    background-color: rgb(160, 154, 154);
}

.item4 {
    background-color: rgba(122, 116, 116, 0.767);
}

.item5 {
    background-color: rgba(128, 128, 128, 0.959);
}

.item6 {
    background-color: gray;
}
